{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class='is-size-3'>Group Bookshelf:</h2>

<div class="columns is-multiline">
  {% for book in books %}

    <div class="column is-one-quarter">
      <div class="card">
        <div class="card-image">
          <figure class="image is4by3 p-3 ">
            <img class = "is-center"src="{{book.img_url}}" onerror="{% static 'books/open-book.png' %}';" class="mb-1" >
          </figure>
        </div>
        <header class="card-header">
          <h3 class="card-header-title">
            {{book.title}}
          </h3>
          <div class="card-header-icon">
            <span class="icon">
              <i class="heart-icon fa fa-heart fa-regular  has-text-danger" aria-hidden="true"></i>
            </span>
          </div>
        </header>
        <div class="card-content">
          <div class="content">
            <h4 class="is-size-6">Author: {{book.author}}</h4>
            <h4 class="is-size-6">Category: {{book.category.type}}</h4>
            <hr>
            <h4 class="is-size-6">Description:</h4>
            <p style="display:inline-block;  overflow:scroll;">{{book.description}}</p>
          </div>
         <a href="{% url 'resource_add' book.api_id %}" class="button is-primary">Edit Book</a>
        </div>
      </div>
    </div>
    

  {% endfor %}
</div>
<script>
    
        var icons = document.getElementsByClassName("heart-icon");

      for (let el of icons) {
        el.addEventListener("mouseover",(event) => {
            if(el.classList.contains("fa-regular")) {
                el.classList.remove("fa-regular");
                el.classList.add("fa-solid");
            }
            else {
                el.classList.remove("fa-solid");
                el.classList.add("fa-regular");
            }
        })
        el.addEventListener("mouseleave",(event) => {
            if(el.classList.contains("fa-regular")) {
                el.classList.remove("fa-regular");
                el.classList.add("fa-solid");
            }
            else {
                el.classList.remove("fa-solid");
                el.classList.add("fa-regular");
            }
        })
        };
</script>
{% endblock content %}
