{% extends "base.html" %}
{% load i18n %}
{% load redux_class %}.

{% block content %}
<form method="post" action=".">
  <div class="columns">
    {% csrf_token %}
    <div class="field column" >
      <label class="label" >Title</label>
      <div class="control has-icons-left">
        {{ form.intitle | add_class:"input"}}
        <span class="icon is-small is-left">
          <i class="fas fa-magnifying-glass"></i>
        </span>
      </div>
    </div>
    <div class="column is-3 field" >
      <label class="label" >Author</label>
      <div class="control has-icons-left">
        {{ form.inauthor | add_class:"input"}}
        <span class="icon is-small is-left">
          <i class="fas fa-magnifying-glass"></i>
        </span>
      </div>
    </div>

    <div class="column is-narrow is-flex is-flex-direction-column is-align-content-flex-start">
      <div class="is-hidden-mobile" style = "height: 30px"></div>
      <input type="submit" value="{% trans 'Search' %}" class = "button is-primary">
    </div>
  </div>
</form>

{% if results %}
<h2 class='is-size-3'>Results:</h2>

<div class="columns">
  {% for result in results %}

    <div class="column is-one-quarter">
      <div class="card">
        <div class="card-image">
          <figure class="image is4by3 p-3">
            <img src="{{result.img_url}}" alt="Book Cover" class="image">
          </figure>
        </div>
        <header class="card-header">
          <h3 class="card-header-title">
            Title: {{result.title}}
          </h3>
        </header>
        <div class="card-content">
          <div class="content">
            <h4 class="is-size-4">Author: {{result.author}}</h4>
            <h4 class="is-size-4">Category: {{result.category.type}}</h4>
            <p>Author: {{result.description}}</p>
          </div>
        </div>
      </div>
    </div>
    
    <a href="{% url 'resource_add' result %}" class="button"></a>

  {% endfor %}
</div>

{% endif %}
{% endblock content %}

