{% extends "base.html" %}
{% load i18n %}
{% load redux_class %}.

{% block content %}


<div class = '' style="height: 100px"></div>
<div class="columns is-centered">
  <div class="card column is-one-third-desktop is-half-tablet ">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon">
          <i class="fa-solid fa-user-plus"></i>
        </span>
        &nbspRegister
      </p>
    </header>
    <div class="card-content">
      <form method="post" action=".">
        {% csrf_token %}
        <div class="field" data-tooltip="More than 8 characters, letters and numbers">
          <label class="label" >Email</label>
          <div class="control has-icons-left">
            {{ form.email | add_class:"input"}}
            <span class="icon is-small is-left">
              <i class="fas fa-at"></i>
            </span>
          </div>
          <div class = "has-text-danger">{{form.email.errors}}</div>
        </div>
        <div class="field">
          <label class="label">Username</label>
          <div class="control has-icons-left">
            {{ form.username | add_class:"input"}}
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
          <div class = "has-text-danger">{{form.username.errors}}</div>
        </div>
        <div class="field" data-tooltip="More than 8 characters, letters and numbers">
          <label class="label" >Password</label>
          <div class="control has-icons-left">
            {{ form.password1 | add_class:"input"}}
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <div class = "has-text-danger">{{form.password1.errors}}</div>
        </div>
        <div class="field" data-tooltip="Must match previous passcode">
          <label class="label">Confirm Password</label>
          <div class="control has-icons-left">
            {{ form.password2 | add_class:"input"}}
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <div class = "has-text-danger">{{form.password2.errors}}</div>
        </div>
        <div class="is-flex is-justify-content-end">
          
          <input type="submit" value="{% trans 'Sign Up' %}" class = "button is-primary" style = "float:right">
        </div>
          <input type="hidden" name="next" value="{{ next }}" />
      </form>
  </div>
</div>

{% endblock %}
